# === Terraform ===
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log

# === Variables sensibles ===
*.tfvars
*.tfvars.json

# === Local files ===
*.log
*.zip
*.bak
*.swp
.DS_Store
.env
.idea/
.vscode/

# === GitHub Actions logs ===
.github/workflows/*.log

